server/src/__pycache__/
agent/src/__pycache__/

server/src/.DS_STORE/
agent/src/.DS_STORE/

server/src/.env/
agent/src/.env/

server/src/.idea/
agent/src/.idea/

server/src/env.example/
agent/src/env.example/

server/dists/
agent/dists/

server/pool/
agent/pool/

server/script/debian/aditas-server
agent/script/debian/aditas-agent

server/script/debian/source
agent/script/debian/source

server/src/.env
agent/src/.env

.idea/
agent/.idea/
server/.idea/

agent/src/logs/
agent/src/system_statistics_history/

agent/src/test_profile
server/src/test_profile

.classpath
.project
.settings
.idea/
.iml/
.DS_Store
**/target/

*.pyc
*.py~
**/*.iml
.hg
.hgignore
.hgtags
derby.log

velocity.log*
rebel.xml
rebel-remote.xml
out
createDDL.jdbc
/dist
/build

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
agent/src/.gitlab
agent/src/.gitlab

server/*.deb
server/*.tar.xz
server/*.dsc
server/*.changes

agent/*.deb
agent/*.tar.xz
agent/*.dsc
agent/*.changes