{% extends 'base.html' %}
{% block title %}Manage Users {% endblock %}
{% load static %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">
{% endblock %}
{% block content %}
    {% if user_own.is_superuser  %}

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="page-header d-flex justify-content-between">
                    <div class="actions form-inline">
                        {#                <div class="form-group">#}
                        {#                    <label>Action:</label>#}
                        {#                    <select name="action" id="action" class="form-control">#}
                        {#                        <option value="default" selected="">---------</option>#}
                        {#                        <option value="delete_selected">Delete selected users</option>#}
                        {#                    </select>#}
                        {#                  </div>#}
                        {#            <input name="select_across" value="0" class="select-across" type="hidden">#}

                        <button type="submit" class="btn btn-danger" title="Run the selected action" id="delete_go">Delete User</button>
                    </div>
                    {#                                    <span class="action-counter" data-actions-icnt="2" style="display: inline;">0 of 2 selected</span>#}
                    {#   <a class="btn btn-primary" type="button" id="back-button" href="{% url 'add_user' %}">Add User</a>#}
                </div>

                <div class="table-responsives">
                    <div id="example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">

                                <table id="example" class="table table-striped table-bordered dataTable"
                                       style="width: 100%;" role="grid" aria-describedby="example_info">
                                    <thead>
                                    <tr role="row">
                                        <th><input type="checkbox" name="select_all" value="1"
                                                   id="example-select-all"></th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example"
                                            rowspan="1" colspan="1" style="width: 209px;"
                                            aria-sort="ascending"
                                            aria-label="Name: activate to sort column descending">
                                            Username
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example"
                                            rowspan="1" colspan="1" style="width: 320px;"
                                            aria-label="Position: activate to sort column ascending">
                                            Email
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example"
                                            rowspan="1" colspan="1" style="width: 320px;"
                                            aria-label="Position: activate to sort column ascending">
                                            First Name
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example"
                                            rowspan="1" colspan="1" style="width: 320px;"
                                            aria-label="Position: activate to sort column ascending">
                                            Lastname
                                        </th><th class="sorting" tabindex="0" aria-controls="example"
                                                 rowspan="1" colspan="1" style="width: 320px;"
                                                 aria-label="Position: activate to sort column ascending">
                                        Active Status
                                    </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user_data in users_data %}
                                        <tr role="row" class="odd">
                                            <td class="sorting_0"><input type="checkbox"
                                                                         name="selectedBox"
                                                                         class="selectedBox"
                                                                         value="{{ user_data.id }}">
                                            </td>
                                            <td class="sorting_1"><a href="{% url 'change_user' user_data.id %}">{{ user_data.user_name }}</a></td>
                                            <td class="sorting_2">{{ user_data.email }}</td>
                                            <td class="sorting_3">{{ user_data.first_name }}</td>
                                            <td class="sorting_4">{{ user_data.last_name }}</td>
                                            {% if user_data.is_active %}
                                                <td class="sorting_4"><img src="/static/admin/img/icon-yes.svg" alt="True"></td>
                                            {% else %}
                                                <td class="sorting_4"><img src="/static/admin/img/icon-no.svg" alt="True"></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>


                                    <tfoot>
                                    <tr>
                                        <th></th>
                                        <th rowspan="1" colspan="1">Username</th>
                                        <th rowspan="1" colspan="1">Email</th>
                                        <th rowspan="1" colspan="1">First Name</th>
                                        <th rowspan="1" colspan="1">Last Name</th>
                                        <th rowspan="1" colspan="1">Active Status</th>
                                    </tr>
                                    </tfoot>

                                </table>


                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>



    {% endif %}
{% endblock %}
{% block javascript %}

    <script type="text/javascript" src="{{ STATIC_URL }}base/datatable/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}base/datatable/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}base/datatable/dataTables.bootstrap.min.css">
    <script>

        var table = $("#example").DataTable({
            'columnDefs': [{
                'targets': 0,
                'searchable': false,
                'orderable': false,
                'className': 'dt-body-center'
            }],
            'order': [[1, 'asc']]
        });
        // Handle click on "Select all" control
        $('#example-select-all').on('click', function(){
            // Get all rows with search applied
            var rows = table.rows({ 'search': 'applied' }).nodes();
            console.log(rows);
            // Check/uncheck checkboxes for all rows in the table
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        $('#example tbody').on('change', 'input[type="checkbox"]', function(){
            // If checkbox is not checked
            if(!this.checked){
                var el = $('#example-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if(el && el.checked && ('indeterminate' in el)){
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });

        $('#delete_go').on('click', function () {
            var option = $('#action option:selected').val();

            let selectedArr = [];
            table.rows().nodes().to$().find('input:checkbox[name=selectedBox]:checked').each(function () {
                selectedArr.push($(this).val());
            });

            $.ajax({
                type: "POST",
                dataType: 'json',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'users_id': JSON.stringify(selectedArr),
                },
                url: "{% url 'users_delete' %}",
                success: function (data) {
                    if (data.success){
                        location.reload();
                    }
                }

            });


        });
    </script>
{% endblock %}