{% extends 'base.html' %}
{% block title %}Add Hbase Service {% endblock %}
{% load static %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="page-header"><h3>Hbase</h3></div>
            <form action="{% url 'add_hbase' %}" method="post" class="form-horizontal" style="max-width: 500px;">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-3 control-label" for="ip">IP:</label>
                <div class="col-sm-9">
                  <input name="ip" id="ip" pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$" placeholder="xxx.xxx.xxx.xxx" required value="{{ ip }}" class="form-control">
                </div>
            </div>

            
{#            <label for="type">Type:</label>#}

{#            <select id="type" name="type">#}
{#            {% if type %}#}
{#                <option value="{{ type }}">{{ type }}</option>#}
{#                <option value="Hmaster">Hmaster</option>#}
{#                <option value="RegionServer">RegionServer</option>#}
{#            {% else %}#}
{#                <option value="Hmaster">Hmaster</option>#}
{#                <option value="RegionServer">RegionServer</option>#}
{#            {% endif %}#}
{#            </select>#}

            <div class="form-group">
                <label class="col-sm-3 control-label" for="web_port">Web Port:</label>
                <div class="col-sm-9">
                  <input name="web_port" id="web_port" type="number" min="1" value="{{ web_port }}" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="rpyc_port">Rpyc Port:</label>
                <div class="col-sm-9">
                  <input name="rpyc_port" id="rpyc_port" type="number" min="1" value="{{ rpyc_port }}" class="form-control">
                </div>
            </div>

            {% if standby_ip %}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <label class="control-label" for="hamode"><input type="checkbox" id="hamode" checked/> HA Mode</label>
                </div>
            </div>

            <div class="form-group standby">
                <label for="standby_ip" class="col-sm-3 control-label">Standby IP:</label>
                <div class="col-sm-9">
                  <input name="standby_ip" id="standby_ip" pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$" placeholder="xxx.xxx.xxx.xxx" required value="{{ standby_ip }}" class="form-control">
                </div>
            </div>

            {% else %}

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <label class="control-label" for="hamode"><input type="checkbox" id="hamode" checked/> HA Mode</label>
                </div>
            </div>

            <div class="form-group standby">
                <label for="standby_ip" class="col-sm-3 control-label">Standby IP:</label>
                <div class="col-sm-9">
                  <input name="standby_ip" id="standby_ip" pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$" placeholder="xxx.xxx.xxx.xxx" required value="{{ standby_ip }}" class="form-control">
                </div>
            </div>

            {% endif %}

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <input class="btn btn-primary" type="submit" name="submit" value="save"/>
                </div>
            </div>
{##}
         
            <div>
                <p>{{ message }}</p>
            </div>
{#            {% if msg == 1 %}#}
{#                <h2 class="contentPost">cluster successfully added</h2>#}
{#            {% elif msg == 0 %}#}
{#                <h2 class="contentPost">Clustername already exist</h2>#}
{#            {% endif %}#}
        </form>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
    if ($("#hamode").is(":checked")){
        $(".standby").show();
    }
    else {
        $(".standby").hide();
    }

    $("#hamode").click(function () {
        if ($(this).is(":checked")) {
            $(".standby").show();
        }
        else {
            $(".standby").hide()
        }
    });
    </script>
{% endblock %}